<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>betterWorld</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div>
      <h1 class="title">Build a better World together</h1>
      {{{body}}}
    </div>
  </body>
</html>