@media screen and (min-width: 320px) {
  h1 {
    background-color: red;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    background-color: blue;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    background-color: green;
  }
}

body {
  background-color: lightblue;
  margin: 0 auto;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  min-height: 100vh;
}

.main {
  max-width: 850px;
  margin: 0px auto;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: auto;
  min-height: 1000px;
}

h1 {
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
  color: black;  
  text-align: center;
}

h2 {
  font-size: 60px;
  font-family: 'Courier New', Courier, monospace;
  color: black;
  text-align: center;
  font-weight: lighter;
}

.listShape {
  background: lightblue;
  justify-content: center;
  padding: 10px 10px 10px 10px;
  
}

table {
  background: lightgray;
  margin: auto;
  padding: 10px 10px 10px 10px;
}

.listLayout {
  font-size: medium;
  font-family: 'Courier New', Courier, monospace;
  color: black;
  display: flex;
  justify-content: center;
  text-align: center;
}
h4 {
  font-size: small;
  font-family: 'Courier New', Courier, monospace;
  color: black;
  text-align: center;
}

.button {
  border: none;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  background: skyblue;
  justify-content: center;
  margin: auto;
  display: flex;
  padding: 10px 10px 10px 10px;
}

.button:hover {
  background-color: lightcoral;
}

.manage{
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;

}

li {
  font-size: medium;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;

}
.taskList {
  text-align: center;
}
.footer {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  margin-top: 12%;
}
.tableHead {
  font-weight: bold;
}